

{##############################################################################}
{##                          monster display snippet                         ##}
{##############################################################################}
{% macro monster_node(endpoint, monster) %}
<div class="row" id="{{endpoint}}">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        {{ search(endpoint) }}
        <hr>
        <p class="card-title">{{monster.name}}</p>
        AC: {{monster.armor_class}}
        {%if monster.img_main %}
        <div class="col">
          <img class="responsive-img circle" src="{{monster.img_main}}" />
        </div>
        {% endif %}
      </div>
      <div class="row">
        {% for a in monster.actions %}
        <div class="col">
          <h3>{{a.name}} 
          {% if a.attack_bonus %} 
            [+{{a.attack_bonus}}] 
          {%endif %}</h3>
          <p>
            {{a.description}}
          </p>
          <div class="row">
            <div class="col">
              {{dice_roll(a.damage_dice)}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
