  #frontend
  libsass

  #network
  requests
  gunicorn

  ##testing
  pytest
  coverage
  pytest-flakes

  ## data storage
  tinydb
  jsonpickle

  ## security
  flask-cors #https://flask-cors.readthedocs.io/en/latest/

  ## documentation
  pdoc
  pypandoc

  ## Version Control
  pygit2
  PyGithub

  ##Framework libs
  Flask>=2.2