{% import 'macros/general.html' as general_macros %}
{% import 'macros/character.html' as character_macros %}
{% import 'macros/item.html' as item_macros %}
{% import 'macros/monster.html' as monster_macros %}
{% import 'macros/spell.html' as spell_macros %}
{% import 'macros/dice.html' as dice_macros %}

{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col s6">
            {{ general_macros.search() }}
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <h2> Initiative </h2>
                    {{ character_macros.initiative(characters) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h2>Players</h2>
                    <div class="row">
                        <div class="col s12">
                            {{ character_macros.display(characters, classes) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{ character_macros.inactive_characters(characters) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <button class="btn waves-effect waves-light" id="update_compendium" name="update_compendium">
                Update Compendium
            </button>
        </div>
        <div class="col s6">
            {{ character_macros.create(classes) }}
        </div>
    </div>
</div>
{% endblock %}