{##############################################################################}
{##                         character form                        ##}
{##############################################################################}
{% macro form(character, classes) %}
<input type="hidden" value="{{character['pk']}}" name="pk">
<div class="row">
  <div class="input-field col s6">
    <input id="{{character.pk}}_name" name="name" type="text" value="{{character['name']}}">
    <label for="{{character.pk}}_name">Name</label>
  </div>
  <div class="input-field col s6">
    <div class="switch">
      <label>
        <input type="checkbox" name="active" id="{{character.pk}}_activate" {%if character['active']%} checked {%endif%} >
        <span>Active</span>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s12">
        <label for="{{character.pk}}_player_class">Class</label>
        <select id="{{character.pk}}_player_class" name="player_class" name=player_class">
          {% for class in classes %}
            <option value="{{class}}" {% if class==character['player_class']%}selected{% endif %}>
              {{class}}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="{{character.pk}}_hp" name="hp" type="number" value="{%if character['hp'] %}{{character['hp']}}{%else%}0{%endif%}">
        <label for="{{character.pk}}_hp">HP</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="{{character.pk}}_status" name="status" type="text" value="{{character['status']}}">
        <label for="{{character.pk}}_status">Status</label>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="row">
      <div class="input-field col s12">
        <input id="{{character.pk}}_dndbeyond_id" name="dndbeyond_id" type="text" value="{{character['dndbeyond_id']}}">
        <label for="{{character.pk}}_dndbeyond_id">DnDBeyond ID</label>
      </div>
    </div>
    {% if character.image_url %}
      <div class="row">
        <div class="input-field col s12">
          <img class="circle responsive-img" src="{{character.image_url}}">
        </div>
      </div>
    {% endif %}
    
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <textarea id="{{character.pk}}_history" name="history" class="materialize-textarea" value="{{character['history']}}">
    </textarea>
    <label for="{{character.pk}}_history">History</label>
  </div>
</div>
<div class="row">
  {% for item in character.inventory %}
    <div class="chip">
      {{item}}
      <i class="close material-icons">close</i>
    </div>
  {% endfor %}
</div>
{% endmacro %}

{##############################################################################}
{##                         character display snippet                        ##}
{##############################################################################}
{% macro display(characters, classes) -%}

<ul class="collection" id="character_display">
  {% for character in characters %}
    {% if character.active %}
      {##    character list    ##}
      <li class="collection-item">
        <div class="row" style="width:100%">
          <div class="col s10 modal-trigger" href="#{{character.pk}}_details">
            <i class="material-icons">face</i> <span class="character_name">{{character.name}}</span>
          </div>
          <div class="col s2 add_character_initiative">
            <a id="initative_character_{{character.pk}}" name="{{character.name}}" class="btn-floating btn-small waves-effect waves-light red add_to_initiative"><i class="material-icons">add</i></a>
          </div>
        </div>

        {##    character details    ##}
        <div id="{{character.pk}}_details" class="modal">
          <div class="modal-content">
            <div class="row">
              <div class="col s11">
                <form method="POST" action="{{url_for('activate_character')}}">
                  <div class="switch">
                    <label>
                      <input type="checkbox" name="activate" id="{{character.pk}}_activate" class="filled-in activate_character" checked onchange="this.form.submit()">
                      <span>Active</span>
                    </label>
                  </div>
                </form>
                <form class="update_character" method="post"  action="{{url_for('update_character')}}">
                  {{ form(character, classes) }}
                </form>
              </div>
              <div class="col s1">
                <a href="#" class="modal-close">
                  <i class="material-icons">close</i>
                </a>
            </div>
            <div class="row">
              <div class="col s10"></div>
              <div class="col s2">
                <form   method="post" 
                        action="{{url_for('delete_character')}}"
                        onsubmit="return confirm('Are you sure you want to delete the character?');"
                >
                  <input type="hidden" value="{{character['pk']}}" name="pk">
                  <button class="red darken-3 white-text" type="submit">
                    <span class="material-icons">
                      person_remove
                    </span>
                  </button>
                </form>
              </div>
            <div>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{%- endmacro %}

{##############################################################################}
{##                          character create snippet                        ##}
{##############################################################################}
{% macro create(classes) %}
<div class="row">
  <div class="col s12">
      <a class="waves-effect waves-light btn" onclick="$('#create_character').toggle()">
          <i class="material-icons left">add</i>
          <div class="valign-wrapper">
            New Character
          </div>
      </a>
  </div>
</div>
<div class="row" style="display:none" id="create_character">
  <div class="col s12">
      <form method="post" action="{{url_for('create_character')}}">
          <div class="row">
              <div class="col s6">
                  <select name="player_class">
                      <option value="" disabled selected>Choose a Class</option>
                      {% for class in classes %}
                          <option value="{{class}}">{{class}}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s9">
                  <input placeholder="Full Name" name="name" id="full_name" type="text">
                  <label for="full_name">Full Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit">
                      Create
                      <i class="material-icons right">add</i>
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>
{% endmacro %}

{##############################################################################}
{##                       character initiative snippet                       ##}
{##############################################################################}
{% macro initiative(characters) %}
<a class="btn-floating btn-large waves-effect waves-light green" id="next_initiative">
  <i class="material-icons">next_plan</i>
</a>
<ul class="collection" id="battle_initiative">
  {%for character in characters %}
    {%if character.active %}
      <li class="collection-item" name="{{character.name}}">
        <div class="row">
          <div class="col s10 truncate">
            <i class="material-icons">face</i> {{character.name}}
          </div>
          <div class="col s2">
            <a class="waves-effect waves-light btn-small btn-floating red remove_from_initiative">
                <i class="material-icons">remove</i>
            </a>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endmacro %}

{##############################################################################}
{##                 inactive character list snippet                          ##}
{##############################################################################}
{% macro inactive_characters(characters) %}
<h3>Inactive Characters</h3>
<div class="row" id="inactive_character_display">
  {% for ch in characters %}
    {% if not ch.active %}
      <div class="col">
        <div class="card white darken-1">
          <div class="card-content teal-text">
            <h6>{{ch.name}}</h6>
            <ul>
              <li>class: {{ch.player_class}}</li>
              <li>status: {% if ch.status %}<div class="chip">{{ ch.status }}</div>{% endif %}</li>
            </ul>
          </div>
          <div class="card-action">
            <form method="POST" action="{{url_for('activate_character')}}">
              <input type="hidden" name="pk" value="{{ ch.pk }}">
              <div class="switch">
                <label>
                  <input type="checkbox" name="activate" id="{{ch.pk}}_activate" class="activate_character" onchange="this.form.submit()">
                  <span class="lever"></span>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}