{##############################################################################}
{##                            item display snippet                          ##}
{##############################################################################}
{% macro item_node(endpoint, item) %}
<div class="row" id="{{endpoint}}">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="col s12">
          {{ search(endpoint) }}
          <hr>
        </div>
        <p class="card-title">{{item.name}}<p>
        {%if item.img_main %}
          <div class="col">
            <img class="responsive-img circle" src="{{item.img_main}}" />
          </div>
        {% endif %}
        {{item.type}} [{{item.category}}]
      </div>
      <div class="card-action">
          <a> weight: {{item.weight}}</a>
          <a> cost: {{item.cost}}</a>
          <a> rarity: {{item.rarity}}</a>
          <a> damage_dice: {{item.damage_dice}}</a>
          <a> damage_type: {{item.damage_type}}</a>
          <a>
            <ul>
              {% for p in properties %}
                <li> {{p}} </li>
              {% endfor %}
            </ul>
          </a>
        <ul>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
