##################################
#           PRODUCTION           #
##################################

##### Frameworks #####

Flask 

##### Debugging, Logging, and Documentation #####

icecream

##### System #####

setuptools
python-dotenv

##### Storage #####

PyGithub
pygit2

cloudinary

redis
redis-om
pydantic

##### Frontend #####

jsmin

##### Network #####

requests
gunicorn

##### Security #####

Authlib

##### Async ##### 
rq
rq-dashboard

##### AI #####

pyautogen
openai

##### Parsing #####

dateparser
python-slugify
pypandoc_binary
