##################################
#           PRODUCTION           #
##################################

##### Frameworks #####

Flask

##### Debugging, Logging, and Documentation #####

##### System #####

setuptools
python-dotenv
blinker

##### Storage #####
pymongo
PyGithub
pygit2
pillow
redis

##### Frontend #####

jsmin

##### Network #####

requests
gunicorn

##### Security #####

Authlib

##### Async #####
rq

##### AI #####
ollama
google-genai
sentence-transformers

##### Parsing #####
dateparser
python-slugify

##### Audio #####
pydub