{% import 'macros.html' as macros %}
<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>DM Buddy</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
        <!-- Compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="navbar">
              <nav>
                  <div class="nav-wrapper" style="background-image: url({{url_for('static', filename='images/hero.jpeg')}});background-size: cover;">
                    <a href="#" class="brand-logo right">DM Buddy</a>
                  </div>
              </nav>
            </div>
            <div class="row" id='dice_roll'>
                <div class="col s12" id="status">
                    <div class="row">
                        <div class="col" >
                            <form id="dice_selection">
                                <div class="input-field col s4">
                                    <select name="num_dice">
                                        {% for i in range(40) %}
                                            <option value="{{loop.index}}"> {{loop.index}}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Number of Die</label>
                                </div>
                                <div class="input-field col s4">
                                    <select name="type_dice">
                                        {% for i in dice_types %}
                                            <option value="{{i}}" 
                                                {% if i == 20 %}
                                                    selected
                                                {% endif %}
                                            >{{i}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <label>Sides</label>
                                </div>
                                <div class="input-field col s4">
                                    <select name="bonus">
                                        <option value="" disabled selected>+</option>
                                        {% for i in range(20) %}
                                            <option value="{{loop.index}}"> {{loop.index}}</option>
                                        {% endfor %}
                                    </select>
                                    <label>Bonus</label>
                                </div>
                                <button class="btn-large waves-effect waves-light" type="submit" name="submit">
                                    ROLL <i class="large material-icons right">casino</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="dice_tray">
                            This need to be animated, just pretend for now
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id='reference'>
                <div class="col s4">
                    <div class="row" id="monsters">
                        {{ macros.monster_node("monsters", random_monster) }}
                    </div>
                </div>
                <div class="col s4">
                    <div class="row" id="spells">
                        {{ macros.spell_node("spells", random_spell) }}
                    </div>
                </div>
                <div class="col s4">
                    <div class="row" id="items">
                        {{ macros.item_node("items", random_item) }}
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>