###### Common Requirements w/o Version Specifiers ######
requests
gunicorn
pytest
coverage
tinydb
pdoc3
libsass

###### Common Requirements w/ Version Specifiers ######
Flask>=2.0

###### App Specific Requirements w/ Version Specifiers ######
d20

###### App Specific Requirements w/o Version Specifiers ######