###### Common Requirements w/o Version Specifiers ######
libsass
requests
gunicorn
pytest
coverage
tinydb
flask-restplus

###### Common Requirements w/ Version Specifiers ######
Flask>=2.0

###### App Specific Requirements w/ Version Specifiers ######
d20

###### App Specific Requirements w/o Version Specifiers ######