// List of variables
// - https://orbitcss.com/documentation/sass-variables

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans&display=swap');


///////////////// COLORS //////////////////

$primary: #dddddd;
$secondary: hsla(358, 96%, 39%, 1.0);
// $warning: #ffdd57 !default;
// $info: #bfd9fe !default;
// $danger: #ff2b56 !default;
// $success: #00e3ae !default;
// $black: #393939 !default;
// $dark: #304352 !default;
// $night: #4e4376 !default;
// $white: #ffffff !default;
// $light: #f5f5f5 !default;
// $light-grey: #d7d2cc !default;
// $dark-grey: #616161 !default;
// $link: #495aff !default;
// $disabled: #f7f7f7 !default;
// $muted: lighten($dark-grey, 35%) !default;

$custom-palette : (
  "ash": #AFBFC0
);

$highlight: #C2D3CD;
$lowlight: #9FA4A9;

//////////////////// LAYOUT ////////////////////

$container-max-width: 80%;

//////////////////// HERO ////////////////////
$hero-padding: 0;
$hero-background-color:lighten($primary, 25%);
$hero-color: $secondary;
//////////////////// FONT ////////////////////
/// 
$font-base: 14;

// $theme-font-color: createColor($black) !default;
// $theme-background-color: createColor($white) !default;

$body-font-family: 'Open Sans', sans-serif;
// $body-font-size: 1.2rem;
// $body-font-weight: 400 !default;
// $body-line-height: 1.6 !default;

//////////////////// HR ////////////////////
// $hr-color: var(--color-light-grey-lighter) !default;
// $hr-height: calculateRem(2) !default;
// $hr-margin: calculateRem(20) 0 !default;

//////////////////// BUTTON ////////////////////
$button-background: $primary;
$button-color: $secondary;
$button-radius: 0.5rem;
$button-font-size: 1.2rem;
$button-hover-background:darken($primary, 10%);

/////////////////////// CARD ////////////////////
$card-header-background: $secondary;
$card-header-color: $primary;
$card-shadow:0 0 3px 0 hsla(0, 0%, 4%, 0.217);

//////////////////// MEDIA ////////////////////

// $small-max: 767px !default;
// $medium: 768px !default;
// $large: 922px !default;
// $x-large: 1200px !default;