##################################
#           PRODUCTION           #
##################################

##### Framework #####

Flask 

##### Configuration #####

##### Documentation #####

##### System #####

setuptools

##### API #####

##### Database #####

redis-om

##### Frontend #####

cssmin
jsmin

##### Network #####

requests
gunicorn

##### Security #####

##### Async ##### 

# aiofiles
# aiohttp
# aiopath

##### AI #####

##### Parsing #####

dateparser

##################################
#           DEVELOPMENT          #
##################################

## Linting

# black
# pytest-flakes

## Debugging

# flask_debug

## Testing

# pytest
# coverage
