$font-base: 16 !default;
$small-max: 767px !default;
$medium: 768px !default;
$large: 922px !default;
$x-large: 1200px !default;
$background-image: null !default;
$background-color: linear-gradient(220.55deg, #565656 0%, #181818 100%);
$theme-font-color: getTextColor($primary) !default;
$theme-background-color: $primary !default;

$body-font-family: 'Open Sans', sans-serif !default;
;
$body-font-size: calculateRem($font-base) !default;
$body-font-weight: 300 !default;
$body-line-height: 1.6 !default;

$hr-color: var(--color-light-grey-lighter) !default;
$hr-height: calculateRem(2) !default;
$hr-margin: calculateRem(20) 0 !default;

:root
{
  --theme-font-size: #{$body-font-size};
  --theme-font-color: #{$theme-font-color};
  --theme-background-color: #{$theme-background-color};
  --theme-body-font-family: #{$body-font-family};
}

html
{
  font-size: 100%;
  scroll-behavior: smooth;
  background-image: $background-image no-repeat center center fixed;
  background: $background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.has-clip
  {
    overflow: hidden;
  }

  #background-video
  {
    background: transparent;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  @include small
  {
    #background-video
    {
      display: none;
    }

    body
    {
      background: $primary;
    }
  }

}



body,
html
{
  min-height: 100%;
  position: relative;
}

body
{
  --font-weight: #{$body-font-weight};
  --line-height: #{$body-line-height};
  --font-color: var(--theme-font-color);
  --background-color: var(--theme-background-color);
  --font-family: var(--theme-body-font-family);


  color: var(--font-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  min-height: 100%;
}

// body::before
// {
//   content: "";
//   background: var(--background-color);
//   opacity: 0.6;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: fixed;
//   z-index: -1;
// }

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
dt,
dd,
div
{
  --font-size: var(--theme-font-size);

  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

hr
{
  --background-color: #{$secondary};
  --height: #{$hr-height};
  --margin: #{$hr-margin};

  background-color: var(--background-color);
  border: none;
  height: var(--height);
  margin: var(--margin);
}

p
{
  --margin: 0 0 #{calculateRem(10)} 0;
  margin: var(--margin);
}

p,
span,
small,
i,
b,
strong
{
  color: inherit;
}

img
{
  display: block;
  height: auto;
  max-width: 100%;
  position: relative;
}

*,
::after,
::before
{
  box-sizing: border-box;
}

@keyframes spinner
{
  0%
  {
    transform: rotate(0deg);
  }

  100%
  {
    transform: rotate(360deg);
  }
}