{% macro nav() -%}
<div class="hero__header has-bg-light">
  <nav class="top">
    <div class="container is-full">
      <div class="top__brand">
        <h1>Auto</h1>
      </div>
      <div class="top__links is-end">
        <ul>
          <li>menu item A</li>
          <li>menu item B</li>
          <li>menu item C</li>
        </ul>
      </div>
      <div class="top__buttons">
        <button href="#" class="button is-primary"><span class="mdi mdi-plus"></span></button>
      </div>
    </div>
  </nav>
</div>
<div class="hero__content">
  <h1>AUTO</h1>
</div>
<div class="hero__footer has-text-center has-bg-light">
  <p>Filter</p>
</div>
{%- endmacro %}