//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////
// List of variables
// - https://orbitcss.com/documentation/sass-variables

$background-image: url('/static/images/backgrounds/bg1.jpg');

///////////////// COLORS //////////////////

$primary: #1006c7;
$secondary: #eb8703;
$highlight: #f8f4f2;

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

// Custom Elements
@import 'aallll';