//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////
// List of variables
// - https://orbitcss.com/documentation/sass-variables

$background-image: url('/static/images/backgrounds/bg2.jpg');

///////////////// COLORS //////////////////

$primary: #0a5449 default;
$secondary: #51136d default;
$highlight: #170b73;

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

// Custom Elements
@import 'all';