////////////////////////////////////////////////////////////////////////////
//                                VARIABLES                               //
// List of variables-  https://orbitcss.com/documentation/sass-variables  //
////////////////////////////////////////////////////////////////////////////

$background-image: url('/static/images/backgrounds/bg3.jpg');

///////////////// COLORS //////////////////

$primary: #843f02;
$secondary: #e9f8fa;
$highlight: #130a59;

/////////////////////////////////////////////////////////////////////////////
//                              CUSTOM STYLES                              //
// Reference -  TBD                                                        //
/////////////////////////////////////////////////////////////////////////////

// Custom Elements
@import 'all';