//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////
// List of variables
// - https://orbitcss.com/documentation/sass-variables

$background-image: url('/static/images/backgrounds/bg4.jpg');

///////////////// COLORS //////////////////

$primary: #971fac;
$secondary: #f8f4f2;
$highlight: #9aff9f;

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

// Custom Elements
@import 'all';