//////////////////////////////////////////////
//                 Variables                //
//////////////////////////////////////////////
// List of variables
// - https://orbitcss.com/documentation/sass-variables

$background-image: url('/static/images/backgrounds/bg5.jpg');

///////////////// COLORS //////////////////

$primary: #ad2a0d;
$secondary: #f8f4f2;
$highlight: #170b73;

//////////////////////////////////////////////
//                 Styles                   //
//////////////////////////////////////////////

// Custom Elements
@import 'all';