{% import 'macros.html' as macros %}
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s6">
            <h1>Players</h1>
            <div class="row">
                <div class="col s12">
                    <ul class="collapsible">
                    {% for character in characters %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">perm_identity</i>{{character.name}}</div>
                            <div class="collapsible-body">
                                <div class="row character-info-footer">
                                    <div class="col s3">
                                        <form   method="post" 
                                                action="{{url_for('delete_character')}}"
                                                onsubmit="return confirm('Are you sure you want to delete the character?');"
                                        >
                                            <input type="hidden" value="{{character['pk']}}" name="pk">
                                            <button type="submit">
                                                <span class="material-icons">
                                                    person_remove
                                                </span>
                                            </button>
                                        </form>
                                    </div>
                                <div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a class="btn-floating btn-small waves-effect waves-light" onclick="$('#create_character').toggle()">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
            <div class="row" style="display:none" id="create_character">
                <div class="col s12">
                    <form method="post" action="{{url_for('add_character')}}">
                        <div class="row">
                            <div class="col s6">
                                <select>
                                    <option value="" disabled selected>Choose a Class</option>
                                    {% for class in classes %}
                                        <option value="{{class}}">{{class}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s9">
                                <input placeholder="Full Name" name="ame" id="full_name" type="text">
                                <label for="full_name">Full Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="new_character">
                                    Create
                                    <i class="material-icons right">add</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s6">
            <h1>Campaign</h1>
            <h2>Campaign Outline</h2>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="note" class="materialize-textarea"></textarea>
                            <label for="textarea1">Notes</label>
                        </div>
                    </div>
                </form>
            </div>
            <h2>Status</h2>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="note" class="materialize-textarea"></textarea>
                            <label for="textarea1">Notes</label>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="row">
                <form class="col s12">
                    {#
                    {% for note in dm['notes'] %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled value="{{note}}" name="" type="text">
                            </div>
                        </div>
                    {% endfor %}
                    #}
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>Reference</h1>
            <form method="get" action="{{url_for('compendium')}}">
                <div class="input-field col s6">
                    <select name="endpoint">
                      <option value="compendium" selected > General Search</option>
                      <option value="monster">Monster</option>
                      <option value="item">Item</option>
                      <option value="spell">Spell</option>
                      <option value="classes_list">Classes</option>
                    </select>
                    <label>Topic</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="search terms" name="search" type="text">
                    <label for="first_name">Search</label>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}