{% import 'macros/general.html' as general_macros %}
{% import 'macros/character.html' as character_macros %}
{% import 'macros/item.html' as item_macros %}
{% import 'macros/monster.html' as monster_macros %}
{% import 'macros/spell.html' as spell_macros %}
{% import 'macros/dice.html' as dice_macros %}

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            {{ general_macros.search() }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <h2>Characters</h2>
            <div class="row">
                <div class="col s12">
                    <ul class="collapsible" id="character_display">
                    {% for ch in characters %}
                        {% if ch.active %}
                            <li>
                                {{ character_macros.display(ch, classes) }}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>Inactive Characters</h3>
                    <div class="row" id="inactive_character_display">
                    {% for ch in characters %}
                        {% if not ch.active %}
                            <div class="col s12 m6">
                                <div class="card white darken-1">
                                    <div class="card-content teal-text">
                                        {{ch.name}}
                                        {% if ch.status %}
                                            <div class="chip">
                                                {{ ch.status }}
                                            </div>
                                        {% endif %}
                                        </div>
                                    <div class="card-action">
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" id="{{ch.pk}}_activate" class="activate_character">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {{ character_macros.create(classes) }}
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <h2> Initiative </h2>
                    {{ character_macros.initiative(characters) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}