{% import 'macros/general.html' as general_macros %}
{% import 'macros/character.html' as character_macros %}
{% import 'macros/item.html' as item_macros %}
{% import 'macros/monster.html' as monster_macros %}
{% import 'macros/spell.html' as spell_macros %}
{% import 'macros/dice.html' as dice_macros %}

{% extends "base.html" %}

{% block content %}
<div class="container">
    {{ general_macros.search() }}
    <div class="row">
        <div class="col s6">
            <h1>Players</h1>
            <div class="row">
                <div class="col s12">
                    {{num_characters}}
                    <ul class="collapsible">
                    {% for character in characters %}
                        <li>
                            {{ character_macros.display(character, classes) }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {{ character_macros.create(classes) }}
        </div>
        <div class="col s6">
            <div class="row">
                <div class="col s12">
                    <h1> Initiative </h1>
                    {{ character_macros.initiative(characters) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}