{% import 'macros/_nav.html' as nav %}
{% import 'macros/_jstemplates.html' as jstemplates %}

<!doctype html>
<html lang="en">

    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta charset="{{url_for('static', filename='favicon-32x32.png')}}">
        <link rel="icon" href="data:,">
        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
        <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">

        <title>Auto</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>

    <body>
        <div class="hero">
            {{ nav.nav() }}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div id="js_templates" class="is-hidden">
            {{ jstemplates.jstemplates() }}
        </div>
        <!-- JavaScript Libs -->
        <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>

</html>